@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Cinzel);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Fondamento);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Common styles for all devices */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 1.2em;
  margin: 0;
  background: linear-gradient(62deg, #eb8a03, #9cd2c1, #e2f3e8, #4b9ada);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}


@-webkit-keyframes AnimationName {
  0%{background-position:0% 92%}
  50%{background-position:100% 9%}
  100%{background-position:0% 92%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 92%}
  50%{background-position:100% 9%}
  100%{background-position:0% 92%}
}
@keyframes AnimationName {
  0%{background-position:0% 92%}
  50%{background-position:100% 9%}
  100%{background-position:0% 92%}
}

h2 {
  font-family: 'Roboto Condensed',  serif, sans-serif;
  font-size: 2em;
  color: rgb(38, 38, 38);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
}

div {
  padding: 5%;
}


.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.pages {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style: none;
}

.left, .right {
  display: flex;
  align-items: center;
}

#header-logo img {
  width: 46px;
  height: 46px;
  border-radius: 25%;
  overflow: hidden;
}

.footer {
  width:100%
}

.footer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 10%;
}

.footer-logos img {
  width: 46px;
  height: 46px;
  border-radius: 25%;
}

.experience-paragraph {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.education-paragraph {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.index-paragraph {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#headshot {
  border-radius: 5%;
  width: 100%;
}
 
button {
  background-color: rgb(190, 185, 185);
  border-radius: 1vh;
}

button:hover {
  transform: scale(1.1);
}

a{
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

a:hover {
  color: black;
}


hr {
  min-width: 80%;
  color: white;
  background-color: white;
  height: 2px;
  border-color: white;
  align-items: center;
}

.resume-header {
  text-align: center;
}


.resume-block ul {
  list-style-type: circle;
  list-style-position: outside;
  text-align: left;
  padding-left: 20px;
  margin-left: 0;
  width: 100%;
}

.resume-block li:hover {
  pointer-events: none;
}

.resume-block li {
  list-style-type: disc;
  display: list-item;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-content {
  display: flex;
  box-sizing: border-box; /* Include padding and borders in the width */
};



/* Desktop Styles */
@media (min-width: 768px) {
  .header {
    display: flex;
    color: white;
    /* Position the header at the top of the page */
    width: 100%;
    height: 50px;
    position: static;
    z-index: 1;
  }

  .footer {
    color: white;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 50px;
    position:static;
    font-size: 1.5em;
    z-index: 1;
  }

  #rom-video {
    width: 50%;
  }

  .container {
    display: flex;
    justify-content: center;
    /* Use flexbox for layout */
    /* The height of the header */
    flex: 1;
  }

   
  .banner-side {
    width: 50%;
    /* Take up 50% of the container width */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Cover the entire side */
    /* Give the image a lower z-index */
  }

  .intro-paragraph {
    width: 50%;
    /* Take up 50% of the container width */
    overflow-y: auto;
    overflow-x: hidden;
    /* Allow the text to auto format */
    padding: 0%;
  }

  .index-paragraph {
    float: center;
    width: 100%;
    text-align: justify;
    margin-right: auto;
    padding-right: 2em;
    flex-wrap: wrap;
  }

.resume-block {
  width: 100%;
  text-align: justify;
  margin-right: auto;
  padding-right: 2em;
  z-index: -1;
  display: flex;
  flex-direction: column; /* Set the direction to vertical */
}
}



/* Mobile Phone Styles */
@media (max-width: 768px) {
.header {
  display: flex;
  /* Position the header at the top of the page */
  width: 100%;
  position: static;
  font-size: 1.5em;
  z-index: 1;
}


.footer {
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  /* Position the header at the top of the page */
  width: 100%;
  height: 50px;
  position:relative;
  font-size: 1.5em;
  z-index: 1;
}

.footer ul {
  gap: 100%;
}

a {
  font-size: 1em;
}

nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-decoration: none;
  margin: auto;
  justify-content: space-evenly;
  overflow: hidden;
  width: 100%;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
}


#rom-video {
  width: 100%;
}
  
  /* Define a container for the layout */
  .container {
    min-height: calc(100vh - 50px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Use flexbox for layout */
    /* The height of the header */
  }

  #header-logo img {
    max-width: 100%;
    z-index: -1;
  }


    /* Define a container for the layout */
    .top-content {
      min-height: calc(100vh - 50px);
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      /* Use flexbox for layout */
      margin-top: 50px;
      /* The height of the header */
    }

  /* Define the left side (image) */
  .banner-side {
    height: 50%;
    /* Take up full width of the container */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Cover the entire side */
    /* Give the image a lower z-index */
    position: relative;
    flex: 1;
  }

  /* Define the right side (text) */
  .intro-paragraph {
    height: 50%;
    /* Take up full width of the container */
    overflow-y: auto;
    overflow-x: hidden;
    /* Allow the text to auto format */
    padding: 10%;
    position: relative;
    flex: 1;
  }

  .index-paragraph {
    float: center;
    width: 100%;
    text-align: justify;
    margin-right: auto;
    padding-right: 2em;
    flex-wrap: wrap;
  }
  
  .resume-block {
    float: center;
    width: 100%;
    text-align: justify;
    margin-right: auto;
    padding-right: 2em;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /* Set the direction to vertical */
  }
}

