<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>

h1 {
  font-family: Lobster, sans-serif;
  font-size: 1.5em;
  color: blue;
}

h2 {
  font-family: Lobster, sans-serif;
  font-size: 1em;
  color: blue;
}


.headshot-img {
  border-radius: 50%;
}

body {
  margin: 0;
  background-color: #79BAEC;
  text-align: center;
  font-family: verdana;
}


</style>
