@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Cinzel);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Fondamento);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

<link href="//fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

<style>
 head{
   display: none;
   background-color: #2457B1;
   text-align: center;
   font-family: 'PT Sans', sans-serif;
 }

 header {
   text-align: center;
   background-color: transparent;
   font-family: 'Bebas Neue', serif;
   font-size: 2.5em;
 }

 body {
   margin: 0;
   text-align: center;
   background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );
   font-family: 'Roboto Condensed', sans-serif;
 }

.menu {
  list-style: none;
  text-align: center;
  padding-left: 0;
  text-decoration: none;
  font-size: 17px;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav {
  font-family: 'Bebas Neue', display;
}

nav:hover {
  transform: scale(1.25);
}

.logo-image{
   width: 46px;
   height: 46px;
   border-radius: 50%;
   overflow: hidden;
   margin-top: -6px;

}

.top-background {
  background-color: transparent;
  margin: 0;
  text-align: center;
  font-family: Lobster;
}

.bottom-background {
  background-color: transparent;
}

h1 {
  font-family: "Lobster", sans-serif;
  font-size: 4em;
  color: black;
}

h2 {
  font-family: "Lobster", sans-serif;
  font-size: 2em;
  color: black;
}


.headshot-img {
  height: 600px;
  margin:100px;
  float: center;
  border-radius: 50%;
}

#div_top_hypers {
    background-color:#eeeeee;
    display:inline;
}
#ul_top_hypers li{
    display: inline;
}




</style>
