@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Cinzel);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Fondamento);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

<link href="//fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

<style>
 head{
   display: none;
   background-color: transparent;
   text-align: center;
   font-family: 'PT Sans', sans-serif;
 }

 header {
   text-align: center;
   background-color: transparent;
   font-family: 'Bebas Neue', serif;
   font-size: 2.5em;
 }

 body {
   margin: 0;
   text-align: center;
   background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
   font-family: 'Roboto Condensed', sans-serif;
 }

.menu {
  list-style: none;
  text-align: center;
  padding-left: 0;
  text-decoration: none;
  font-size: 17px;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav {
  font-family: 'Bebas Neue', display;
}

nav:hover {
  transform: scale(1.25);
}

.button {

}


.button:hover {
  transform: scale(1.1);

}



.logo-image{
   width: 46px;
   height: 46px;
   border-radius: 50%;
   overflow: hidden;
   margin-top: -6px;

}

.top-background {
  background-color: transparent;
  margin: 0;
  text-align: center;
  font-family: Lobster;
}

.bottom-background {
  background-color: transparent;
}

h1 {
  font-family: "Lobster", sans-serif;
  font-size: 4em;
  color: black;
}

h2 {
  font-family: "Lobster", sans-serif;
  font-size: 2em;
  color: black;
}


.headshot-img {
  height: 600px;
  margin:100px;
  float: center;
  border-radius: 50%;
}

#div_top_hypers {
    background-color: transparent;
    display:inline;
}

li{
    display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: transparent;
  opacity: 50%;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: grey;
}

</style>
